# HW 5.1

# Q1 (15pt) Retrieving files over HTTP/HTTPS using Response

Try this: Retrieving A file

* If youâ€™re working with the data file above and want to break each line into separate fields, 
    * how might you do that?What other processing would you expect to do?

* In this assignment, we will try writing some code to retrieve this file and calculate the 
    * (2pt) The average rainfall over all the months and years
    * (2pt) The highest temperature in Celsius degree over all the months and years
    * (2pt) The lowest temperature in Celsius degree over all the months and years
    * (9pt) The highest and lowest temperature per year and average rainfall per year (in a table)
    
* The expected output is shown below.

* A starter code is given below, which is from the solution in Chapter 22 at 
    * https://learning.oreilly.com/library/view/the-quick-python/9781617294037/kindle_split_040.html
    
* Fill in your program below.

In [1]:
Average rainfall = 50.5 mm                      <---------- updated because of the newly added data for Oct 2020
The highest temparature in degree = 28.3
The lowest temparature in degree = -4.6
Year Highest_Degree  Lowest_Degree    Rainfall    
1948      21.7            2.2           47.0      
1949      25.1            0.6           41.5      
1950      23.6           -1.0           53.4      
1951      23.0            0.8           67.3      
1952      23.3           -0.3           51.4      
1953      22.6            0.6           37.6      
1954      19.8            0.3           57.2      
1955      24.4           -0.8           41.9      
1956      20.9           -3.6           51.3      
1957      23.6            1.0           46.5      
1958      21.7            0.9           61.6      
1959      24.7           -1.1           40.6      
1960      22.1            1.6           61.3      
1961      22.1            0.2           46.6      
1962      20.6           -1.1           46.5      
1963      21.1           -4.6           43.5      
1964      22.8            0.4           41.7      
1965      20.8            0.9           55.9      
1966      21.8            1.0           63.4      
1967      23.5            1.3           58.2      
1968      20.7            0.2           62.9      
1969      23.9           -0.9           47.0      
1970      23.6            0.7           54.7      
1971      24.1            1.9           51.5      
1972      22.3            2.1           37.0      
1973      23.7            0.7           40.4      
1974      21.5            2.8           60.8      
1975      25.9            1.5           48.8      
1976      26.6           -0.2           38.1      
1977      22.4            0.8           53.2      
1978      20.7            0.7           48.8      
1979      22.5           -2.6           57.0      
1980      21.9           -0.1           49.0      
1981      22.8           -1.5           56.6      
1982      22.7            0.4           54.1      
1983      27.6           -0.5           44.6      
1984      24.4            1.3           53.5      
1985      22.9           -1.8           43.9      
1986      22.6           -2.7           53.1      
1987      21.8           -1.0           54.5      
1988      21.8            1.8           46.0      
1989      25.8            2.6           44.5      
1990      26.0            2.5           35.4      
1991      24.1           -1.3           44.4      
1992      22.5            1.6           54.1      
1993      21.8            2.4           51.2      
1994      26.2            1.2           52.6      
1995      27.0            1.0           44.9      
1996      24.2            0.1           35.1      
1997      25.8            0.2           37.1      
1998      23.5            3.4           57.1      
1999      24.9            2.4           55.2      
2000      23.2            2.4           68.4      
2001      24.3            1.4           58.8      
2002      23.3            3.5           65.6      
2003      26.4            1.8           39.6      
2004      23.8            2.9           51.6      
2005      23.3            1.9           37.5      
2006      28.2            1.7           53.0      
2007      21.5            3.1           56.7      
2008      22.8            1.7           54.7      
2009      23.9            0.3           56.9      
2010      25.0           -1.5           43.4      
2011      21.8            2.8           42.4      
2012      23.5            1.3           58.9      
2013      27.0            1.2           46.7      
2014      25.8            3.0           72.0      
2015      23.7            1.6           46.8      
2016      24.7            2.9           49.2      
2017      24.0            0.7           47.7      
2018      28.3            0.6           48.3      
2019      25.5            2.0           54.4      
2020      25.6            3.9           54.0    <---------- updated because of the newly added data for Oct 2020

SyntaxError: invalid syntax (<ipython-input-1-9d716e26caee>, line 1)

In [138]:
import requests # Same as week 12
import pandas as pd
web = "http://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/heathrowdata.txt" # Same as week 12
response = requests.get(web) # Same as week 12
data = response.text # Same as week 12
data_rows = [] # Same as week 12
#rainfall = [] # Same as week 12
#maximumTemperature = [] # for maximum temperatures
#minimumTemperature = [] # for minimum temperatures

years = set() # Set {year0, year1, year2, ...}: Stores the years of each row
tmax = {} # Dictionary tmax[year] = val: Stores the tmax of each row
tmin = {} # Dictionary tmin[year] = val: Stores the tmin of each row
rain = {} # Dictionary rain[year] = val: Stores the rain of each row

for row in data.split("\r\n")[7:]: # Same as week 12
    fields = [x for x in row.split(" ") if x] # Same as week 12
    data_rows.append(fields) # Same as week 12
    
    # Values for the dataset as a whole: Avg rainfall, highest temparature, lowest temparature
    #rainfall.append(float(fields[5])) # Same as week 12
    #maximumTemperature.append(float(fields[2])) # Store maximum temperature for the entry
    #minimumTemperature.append(float(fields[3])) # Store minimum temperature for the entry
    
    # Extract and store year
    year = int(fields[0]) # Get the year (at index 0)
    years.add(year) # Store the year
    
    # Create a dictionary entry for each year (if not already created)
    tmax.setdefault(year,[]) 
    tmin.setdefault(year,[])
    rain.setdefault(year,[])
    
    # Store data in dictionaries for each row
    tmax[year].append(float(fields[2])) # Store tmax of all rows for a particular year
    tmin[year].append(float(fields[3])) # Store tmin of all rows for a particular year
    rain[year].append(float(fields[5])) # Store rain of all rows for a particular year

#print("Average rainfall = {:.1f} mm".format(sum(rainfall) / len(rainfall))) # Print average rainfall
#print("The highest temparature in degree = {}".format(max(maximumTemperature))) # Print maximum temperature
#print("The lowest temparature in degree = {}".format(min(minimumTemperature))) # Print minimum temperature

# Calculations
years = list(years) # Convert set to list
highest_degree = {} # Stores the maximum temperature for the year (maximum of tmax entries for each year)
lowest_degree = {} # Stores the minimum temperature for the year (minimum of tmin entries for each year)
rain_fall = {} # Stores the avg rainfall for each year (sum rainfall of each entry and divide by length)

for year in years: # Iterate over each unique year
    highest_degree[year] = max(tmax[year]) # Find the maximum tmax entry per year
    lowest_degree[year] = min(tmin[year])  # Find the minimum tmin entry per year
    # Calculate avg rainfall per year. Round to 1 decimal place.
    rain_fall[year] = round(sum(rain[year]) / len(rain[year]), 1)

# Convert dictionaries to list
rain_fall = list(rain_fall.values()) 
highest_degree = list(highest_degree.values())
lowest_degree = list(lowest_degree.values())

print("Average rainfall = {:.1f} mm".format(sum(rain_fall) / len(rain_fall))) # Total avg rainfall for the dataset
print("The highest temparature in degree = {}".format(max(highest_degree))) # Maximum tmax of dataset
print("The lowest temparature in degree = {}".format(min(lowest_degree))) # Minimum tmin of dataset

frame = {'Year':years,'Highest_Degree':highest_degree,'Lowest_Degree':lowest_degree,'Rainfall':rain_fall}
table = pd.DataFrame(frame)
print(table.to_string(index = False,justify='center')) # Print the table

Average rainfall = 50.5 mm
The highest temparature in degree = 28.3
The lowest temparature in degree = -4.6
 Year  Highest_Degree  Lowest_Degree  Rainfall
 1948       21.7            2.2         47.0
 1949       25.1            0.6         41.5
 1950       23.6           -1.0         53.4
 1951       23.0            0.8         67.3
 1952       23.3           -0.3         51.4
 1953       22.6            0.6         37.6
 1954       19.8            0.3         57.2
 1955       24.4           -0.8         41.9
 1956       20.9           -3.6         51.3
 1957       23.6            1.0         46.5
 1958       21.7            0.9         61.6
 1959       24.7           -1.1         40.6
 1960       22.1            1.6         61.3
 1961       22.1            0.2         46.6
 1962       20.6           -1.1         46.5
 1963       21.1           -4.6         43.5
 1964       22.8            0.4         41.7
 1965       20.8            0.9         55.9
 1966       21.8            1.0         63.4
 1967       23.5            1.3         58.2
 1968       20.7            0.2         62.9
 1969       23.9           -0.9         47.0
 1970       23.6            0.7         54.7
 1971       24.1            1.9         51.5
 1972       22.3            2.1         37.0
 1973       23.7            0.7         40.4
 1974       21.5            2.8         60.8
 1975       25.9            1.5         48.8
 1976       26.6           -0.2         38.1
 1977       22.4            0.8         53.2
 1978       20.7            0.7         48.8
 1979       22.5           -2.6         57.0
 1980       21.9           -0.1         49.0
 1981       22.8           -1.5         56.6
 1982       22.7            0.4         54.1
 1983       27.6           -0.5         44.6
 1984       24.4            1.3         53.5
 1985       22.9           -1.8         43.9
 1986       22.6           -2.7         53.1
 1987       21.8           -1.0         54.5
 1988       21.8            1.8         46.0
 1989       25.8            2.6         44.5
 1990       26.0            2.5         35.4
 1991       24.1           -1.3         44.4
 1992       22.5            1.6         54.1
 1993       21.8            2.4         51.2
 1994       26.2            1.2         52.6
 1995       27.0            1.0         44.9
 1996       24.2            0.1         35.1
 1997       25.8            0.2         37.1
 1998       23.5            3.4         57.1
 1999       24.9            2.4         55.2
 2000       23.2            2.4         68.4
 2001       24.3            1.4         58.8
 2002       23.3            3.5         65.6
 2003       26.4            1.8         39.6
 2004       23.8            2.9         51.6
 2005       23.3            1.9         37.5
 2006       28.2            1.7         53.0
 2007       21.5            3.1         56.7
 2008       22.8            1.7         54.7
 2009       23.9            0.3         56.9
 2010       25.0           -1.5         43.4
 2011       21.8            2.8         42.4
 2012       23.5            1.3         58.9
 2013       27.0            1.2         46.7
 2014       25.8            3.0         72.0
 2015       23.7            1.6         46.8
 2016       24.7            2.9         49.2
 2017       24.0            0.7         47.7
 2018       28.3            0.6         48.3
 2019       25.5            2.0         54.4
 2020       25.6            3.9         54.0

# Q2: (15pt) Web Scraping with Python Using Beautiful Soup


* Follow the instructions in the  tutorial at 

    * https://www.dataquest.io/blog/web-scraping-tutorial-python/

* Extract the information from the at 
    * http://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168
    
* Show the number of periods (a day or a night) for different weather conditions as follows:
* You do not need to print out the weather condition that was not observed.
* Note that the total number of periods should be either 9 (the first example) or 10 (the 2nd example).
* Both columns in the output can be aligned in different ways (at the center or to the right or left).
* Example 1
        Weather           # periods
    _____________     _____________
    Cloudy            1               
    Mostly Cloudy     3
    Mostly Sunny      2
    Partly Cloudy     1
    Partly Sunnay     2
    Sunny             1
    ...              ...
    
* Example 2
                               Weather     # periods
                         _____________     _____________                              
                         ChanceShowers     1
                          Mostly Clear     1
                          Mostly Sunny     1
                         Partly Cloudy     1
                  Slight ChanceShowers     2
 Slight ChanceShowers thenMostly Sunny     2
                                 Sunny     1

* Note that 
    * The names of weather conditions in the first column have to be sorted
    * the answer may vary and it depends on the time when the program is run.
* Fill in your program below
* Grading:
    * 2 point deduction for each incorrect number
    * 4 point deduction for the improper two column format

In [139]:
import requests
from bs4 import BeautifulSoup
web = 'https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168'
response = requests.get(web)
soup = BeautifulSoup(response.text,'html.parser')
seven_day = soup.find(id = "seven-day-forecast")
forecast_items = seven_day.find_all(class_ = "tombstone-container")
weathers = seven_day.find_all(class_ = 'short-desc')

weather = [x.text for x in weathers]
conditions = []
periods = []

for i in range(len(weather)):
    if weather[i] not in conditions:
        conditions.append(weather[i])
conditions.sort()
conditions.insert(0, '_'*13)

for i in range(1, len(conditions)):
    periods.append(weather.count(conditions[i]))
periods.insert(0,'_'*13)

import pandas as pd
frame = {'Weather':conditions,'# Periods':periods}
table = pd.DataFrame(frame)
print(table.to_string(index = False))
# I could have iterated the output and left-justified, but using the to_string was more convenient

                               Weather      # Periods
                         _____________  _____________
                         ChanceShowers              2
                          Mostly Clear              1
                         Mostly Cloudy              2
 Mostly Cloudythen SlightChanceShowers              1
                         ShowersLikely              2
                                 Sunny              1